*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 14px;
    /* background-color: rgb(245, 245, 244); */
    border: 2px solid rgb(235, 230, 230);
    padding-bottom: 10px;
    

}
header>input{
    width: 720px;
    padding: 14px;
    border-radius: 4px;
    position: relative;
    left: 20px;
    
}
.logo{
    position: relative;
    left: 114px;
    bottom:9px;
}
.search{
    position: relative;
    left: 126px;
    bottom: 4px;
    z-index: 6;
    border-radius: 12px;
}
.loc{
    width: 140px;
    border: none;
    background-color: white;
    position: relative;
    right: 40px;

}
.log{
    width: 130px;
    position: relative;
    right: 110px;
    color: white;
    font-weight: bold;
    background-color:  #63E6BE;
    border-radius: 12px;
}

.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
   
    
}
.navbar>a{
    text-decoration: none;
    color: black;
    padding: 16px;
}
hr{
    color: rgb(235, 230, 230);
}
.navbar>a>img{
    height: 30px;
    width: 20px;
    position: relative;
    top: 6px;
}

/**/

#p{
    padding: 20px 0px 20px 144px ;
}
#p>p>a>img{
    position:relative;
    top: 4px;
}

#p>p>a{
    text-decoration: none;
    font-size: small;
    color: rgb(153, 156, 158);

}



/*selling old mobile*/


.selling{
    height: 470px;
    padding: 20px 2px 20px 54px;
    width: 80%;
    margin: auto;
    border-radius: 12px;
    background-color: hsl(0, 0%, 95%);
}
.selling>h1{
    font-size: 2.6rem;
    padding-top: 20px;
}

.selling>.para>span{
    
    font-size: 1.3rem;
    padding-right: 14px;
}
.selling>input{
    padding: 10px;
    width: 600px;

}

.selling>p{
    font-size: 18px;
}

.selling>img{
    height: 100px;
    background-color: white;

}
.selling>a{
    position: relative;
    bottom: 30px;
    padding-left: 20px;
    text-decoration: none;
    color:#000000
}
.selling>a>img{
    position: relative;
    top: 6px;
}

.selling>.sellimage{
    position: absolute;
    left: 870px;
    top: 200px;
}


.para>img{
    height: 120px;
}


/*how oe cashify works*/


.work{
    padding: 26px 0px 40px 140px;
}

.cashwork{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
    height: 250px;
    padding: 10px;
    width: 80%;
    margin: auto;
}
.cashwork>.d1>p{
    line-height: 24px;
    font-family: sans-serif;
    padding-top: 20px;
    color: hsl(0, 1%, 48%);
    padding-bottom: 40px;
}
.d1>b>span{
    height: 4px;
    width: 4px;
    background-color: #63E6BE;
    color: white;
    justify-content: space-between;
    padding: 2px;
    border-radius: 50px;
}
.d1>b{
    font-size: 28px;
}

/**/

.hotdeals{
    padding-left: 130px;
    padding-top: 26px;
    background-color: hsl(0, 0%, 95%);
    height: 340px;
}

.hotdeals img{
    height: 220px;
}


/*why us*/

.whyus{
    background-color: #dff1ec;
    height: 340px;
}

.whyus>h1{
    padding-left: 140px;
    padding-top: 30px;
}

.yus{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

.us1 {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 26px;
}

.us1 img {
  width: 60px; 
}

.us1 b {
  display: block;
  font-size: 1.1em;
}

.us1 p {
  margin: 0;
  line-height: 22px;
  color: #838786;
}

/**/

.imgs{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 8px;
    width: 80%;
    margin: auto;
    border: 2px 2px 4px rgb(227, 221, 221);
}
.card>img{
    height: 160px;
    width: 160px;
    border: 1px solid rgb(222, 215, 215);
    background-color: #fbfbfb;
    border: 2px 2px 4px rgb(227, 221, 221);
}
.card>p{
    position: relative;
    left: 46px;
    bottom: 45px;
}

.brands>div>h1{
    padding-top: 50px;
    padding-left: 120px;
    padding-bottom: 20px;
}

/* customer */

.customer{
    background-color: #000000;
    height: 444px;
}


.customer>div>h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;

}

.div1{
    height: 340px;
    width: 340px;
    border: 2px solid;
    color: black;
    border-radius: 12px;
    padding: 14px;
    background-color: white;
}
.imp{
    display: flex;
}
.flex{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.div1>img:first-child{
    height: 40px;
    padding-bottom: 30px;
}

.imp{
    position: relative;
    top: 20px;
    left: 10px;
}

/*  */

.faq>div>h1{
    padding-left: 120px;
    padding-top: 34px;
    padding-bottom: 26px;
    font-family: sans-serif;
}

.faq>.h2 h2{
    padding-left: 120px;
}

.h2 hr{
    width: 84%;
    margin: auto;
}

.faq>h3{
    text-align: center;
    color: #63E6BE;
    padding-bottom: 40px;
}



/*what pople*/


.customer{
    background-color: #000000;
    height: 444px;
}


.customer>div>h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;

}

.div2{
    height: 300px;
    width: 320px;
    border: 2px solid;
    color: black;
    border-radius: 12px;
    padding: 14px;
    background-color: white;
}

.div2>p{
    padding-top: 40px;
    line-height: 22px;

}



.div3{
    height: 300px;
    width: 340px;
    border: 2px solid;
    color: black;
    border-radius: 12px;
    padding: 14px;
    background-color: rgb(164, 161, 161);
}

.imp{
    display: flex;
}
.flex{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.div1>img:first-child{
    height: 80px;
    padding-bottom: 20px;
}

.imp{
    position: relative;
    top: 45px;
    left: 10px;
}
.imp>div>button{
    padding: 14px;
    color: white;
    font-weight: bold;
    background-color: #63E6BE;
    border-radius: 10px;
    border: none;
}

/*be smart sell smart */
.cmp{ 
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cmp>.i1>p{
    position: relative;
    bottom: 44px;
    left: 8px;
    color: white;
    font-weight: bold;
}

/* .cmp>.i1>.box{
    background-color: #000000;
    height: 160px;
    opacity: 0.5;
    position: relative;
    z-index: 5;
} */

.besmart>div>h2{
    padding: 30px 0px 30px 120px;
}

.y>div>h2{
    padding: 30px 0px 30px 120px;
}


/* be smart*/

.cmp>.i2>p>img{
    border: 2px solid;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    left: 170px;
    bottom: 150px;

}



/*container*/


.cont{
    background-color: #63E6BE;
    height: 368px;
    width:80% ;
    margin: auto;
    border-radius: 12px;
    color: white;
    
}

.det{
    padding-left: 40px;
    padding-top: 80px;
}

.cont>.det>h1,p,img{
    padding-top: 20px;
}
.cont>img{
    position: absolute;
    left: 820px;
}



/*  */

.all{
    width: 80%;
    margin: auto;
}
.all>p{
    line-height: 24px;
}

.all>ol>li{
    line-height: 24px;
    /* padding-left: 40px; */
    position: relative;
    left: 80px;
}

.all>.hea{
    font-size: 22px;
    font-family: sans-serif;
    color: #626060;
}